*.py[cod]
*.so
*.pyc
__pycache__

*.egg
*.egg-info
/dist
/build
eggs
sdist
develop-eggs
.installed.cfg
/lib
/lib64

.project
.pydevproject
.settings

.coverage

/TODO.txt
/ROADMAP
/build

/sitetool.conf
/sitetool.conf.j

/virtualenv
/env

*.sqlite3
*.sqlite

*~

